<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	
	<persistence-unit name="oraclePU">
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>	
		<jta-data-source>java:/oracle</jta-data-source>
		<class>it.prestitolibri.database.BookEntity</class>
		<class>it.prestitolibri.database.UserEntity</class>
		
	</persistence-unit>

</persistence>